name: Summer me!

on: 
  issues: 
    types: [labeled]
  
jobs:
  summer-me-profile-pic:
    runs-on: ubuntu-latest
    if: ${{ github.event.label.name == 'summer-me' }}
    steps:
      - uses: actions/checkout@v1
      - name: add watcher to readme
        run: |
          curl https://avatars.githubusercontent.com/${{github.actor}} > profile.jpeg
          echo -e "profile pic: https://avatars.githubusercontent.com/${{github.actor}}?s=400&v=4"
      - uses: mfinelli/setup-imagemagick@v1
      - run: mkdir profile-pic
      - run:  convert profile.jpeg summer.png -resize 400x400 -gravity center -composite profile-pic/summer-${{github.actor}}.png
      - name: Azure Storage Action
        uses: lauchacarro/Azure-Storage-Action@v1.1
        with:
          connection-string: ${{secrets.AZURE_CONNECTION_STRING}}
          folder: profile-pic
          blob-container-name: summer-profiles
          public-access-policy: public
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.3
        with:
          path: output.png
